body {
  background-color: lavender;
  width: 40em;
  margin: 1in auto;
}

h1 {
  font-family: sans-serif;
}

p {
  font-size: 18px;
}

#clicks {
  border: 1px solid black;
  padding: 1em;
}

#clicks p {
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-size: 14px;
}

button {
  border: 2px solid darkblue;
  color: darkblue;
  background-color: lightgreen;
  text-align: center;
  font-size: 50px;
  margin: 4px 2px;
}

.yesNoButtons {
  padding-left: 2em;
  height: 100px;
  width: 400px;
  display: none;
}

#start {
  width: 800px;
  height: 400px;
}

#restart {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 500px;
  height: 100px;
  display: none;
}

.wouldYouRather {
  display: none;
}

#wouldYouRather1 {
  width: 100px;
  height: 200px;
}

#wouldYouRather2 {
  width: 100px;
  height: 200px;
}

#output {
  display: none;
}